.row {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.col {
  display: flex;
  flex-direction: column;
}

.list {
  display: flex; 
  flex-direction: column;
  list-style-type: none;
  margin: 0
}


