@import './stylib/classes.css'; 

#app {
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

#btn-main {
  border: 1px solid black;
  height: 150px;
  width: 150px;
  border-radius: 100%;
}

#build-buttons {
  display: flex;
  flex-direction: row;
  margin-top: 5%;
}
#left-menu, #right-menu {
  border: 2px solid black;
  width: 15%;
}
#header-text {
  margin-top: 0;
  margin-bottom: 0;
}


.btn-buy {
  margin: 0.5vh;
}

#center-sect {
  width: 90%;
  height: 75%;
}

#main-row {
  width: 100%;
}


